<ion-row>
    <ion-col>
        <ion-title>Micronutrients</ion-title>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <ion-card class="carbs-card">
            <ion-card-header>
                <ion-card-title>Carbs</ion-card-title>
                <ion-card-subtitle>{{
                    tabActionService.totalCarbs }} / {{ tabActionService.userInfo.macros?.carbs?.grams | number }}
                    g</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-progress-bar [value]="getCarbsProgress()" buffer=".5"></ion-progress-bar> </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col>
        <ion-card class="fat-card">
            <ion-card-header>
                <ion-card-title>Fats</ion-card-title>
                <ion-card-subtitle>{{
                    tabActionService.totalFat }} / {{ tabActionService.userInfo.macros?.fats?.grams | number }}
                    g</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-progress-bar [value]="getFatProgress()" buffer=".5"></ion-progress-bar> </ion-card-content>
        </ion-card>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <ion-card class="protein-card">
            <ion-card-header>
                <ion-card-title>Protein</ion-card-title>
                <ion-card-subtitle>{{
                    tabActionService.totalProtein }} / {{ tabActionService.userInfo.macros?.protein?.grams |
                    number }}
                    g</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-progress-bar [value]="getProteinProgress()" buffer=".5"></ion-progress-bar>
            </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col>
        <ion-card class="water-card">
            <ion-card-header>
                <ion-card-title>Water</ion-card-title>
                <ion-card-subtitle>Consumed: {{getWaterIntake()}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-progress-bar [value]="getWaterIntake()" buffer=".5"></ion-progress-bar> </ion-card-content>
        </ion-card>
    </ion-col>
</ion-row>