<ion-header>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title style="font-weight: bold;">Weekly Workouts</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content class="ion-padding"
    style="--background: linear-gradient(171deg, rgb(170 170 229) 0%, rgba(255, 255, 255, 1) 100%);">
    <ion-grid>
        <ion-row>
            <img class="img-class" src="assets/img/ytVarun.jpg">
        </ion-row>

        <ion-row>
            <ion-accordion-group>
                <ion-accordion value="second">
                    <ion-item slot="header" color="dark">
                        <ion-label>Day 1: Full Body Strength Training</ion-label>
                    </ion-item>
                    <div class="ion-padding exercise" slot="content">
                        Focus on squats, push-ups, and glute bridges to build muscle and
                        burn fat.
                    </div>
                </ion-accordion>
                <ion-accordion value="third">
                    <ion-item slot="header" color="dark">
                        <ion-label>Day 2: Cardio + Core</ion-label>
                    </ion-item>
                    <div class="ion-padding  exercise" slot="content">
                        Go for a 20–30 minute cardio session followed by core exercises
                        like crunches and leg raises.
                    </div>
                </ion-accordion>
                <ion-accordion value="three">
                    <ion-item slot="header" color="dark">
                        <ion-label>Day 3: Lower Body Focus</ion-label>
                    </ion-item>
                    <div class="ion-padding exercise" slot="content">
                        Target your legs with squats, lunges, and glute bridges to
                        strengthen and tone.
                    </div>
                </ion-accordion>
                <ion-accordion value="four">
                    <ion-item slot="header" color="dark">
                        <ion-label>Day 4: Cardio + Upper Body</ion-label>
                    </ion-item>
                    <div class="ion-padding exercise" slot="content">
                        Do 20–30 minutes of HIIT cardio followed by push-ups and dumbbell
                        exercises for your upper body.
                    </div>
                </ion-accordion>
                <ion-accordion value="five">
                    <ion-item slot="header" color="dark">
                        <ion-label>Day 5: Active Recovery / Yoga</ion-label>
                    </ion-item>
                    <div class="ion-padding exercise" slot="content">
                        Engage in yoga or a light walk to improve flexibility and promote
                        recovery.
                    </div>
                </ion-accordion>
                <ion-accordion value="six">
                    <ion-item slot="header" color="dark">
                        <ion-label>Day 6: Total Body Circuit</ion-label>
                    </ion-item>
                    <div class="ion-padding exercise" slot="content">
                        Perform a full-body circuit with jump squats, burpees, and
                        mountain climbers.
                    </div>
                </ion-accordion>
                <ion-accordion value="seven">
                    <ion-item slot="header" color="dark">
                        <ion-label>Day 7: Cardio + Flexibility</ion-label>
                    </ion-item>
                    <div class="ion-padding exercise" slot="content">
                        Finish the week with a moderate cardio session and focus on
                        full-body stretches.
                    </div>
                </ion-accordion>
            </ion-accordion-group>
        </ion-row>
    </ion-grid>
</ion-content>