<ion-header>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title style="font-weight: bold;">Weekly Workouts</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content class="ion-padding"
    style="--background: linear-gradient(171deg, rgb(170 170 229) 0%, rgba(255, 255, 255, 1) 100%);">
    <ion-grid>
        <ion-row>
            <ion-card *ngFor="let workout of workouts" [style.background]="workout.background">
                <ion-card-header>
                  <ion-card-title>{{ workout.title }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>{{ workout.description }}</p>
                </ion-card-content>
              </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>