:host {
    .logo {

    }

    .welcomeDialog {
        h2 {
            margin: 3rem;
            margin-top: 0.5em;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 15px;
            background-clip: text;
            -webkit-background-clip: text;
            color: white;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
    }

    .userName {
        border: 1px solid rgb(161, 152, 152);
    }

    .welcome-text, .next-text {
        font-size: 1rem !important;
        font-weight: 300;
        text-align: center;
        opacity: 0;
        transform: scale(0.8) translateY(20px);
        animation-fill-mode: forwards;
    }

    .welcome-text {
        animation: fadeInOut 2s ease-out forwards;
    }

    .next-text {
        animation: fadeInScale 2s ease-out 1.5s forwards;
    }
    

    @keyframes fadeInOut {
        0% {
            opacity: 0;
            transform: scale(0.8) translateY(20px);
        }
        100% {
            opacity: 1;
            transform: scale(1) translateY(0);
        }
    }

    @keyframes fadeInScale {
        0% {
            opacity: 0;
            transform: scale(0.8) translateY(20px);
        }
        100% {
            opacity: 1;
            transform: scale(1) translateY(0);
        }
    }

    .new-user {
        height: 100%;
        text-align: center;
        background: linear-gradient(171deg, rgba(222,75,120,1) 14%, rgba(255,255,255,1) 100%);
    }
}