<div class="welcome-img" *ngIf="showInfoDialog && !welcomeScreen">
    <img style="height: 5em; width: 4em" src="assets/img/weight-mate-logo.png" />
</div>

<div class="overlay" *ngIf="showInfoDialog">
    <div class="dialog" *ngIf="showDeatils">
        <h2>Enter Your <span class="mate">Details</span></h2>
        <form>
            <!-- <label for="name">Name:</label>
            <input type="text" name="name" [(ngModel)]="userName" disabled /> -->
            <ion-row>
                <ion-col>
                    <label for="age">Age:</label>
                    <input type="number" name="age" [(ngModel)]="userAge" required />
                </ion-col>
                <ion-col>
                    <label for="age">Weight (Kg):</label>
                    <input type="number" name="weight" [(ngModel)]="weight" required />
                </ion-col>
            </ion-row>
            <label for="age">Height (ft inch):</label>
            <ion-row>
                <ion-col>
                    <input type="number" name="ft" [(ngModel)]="feet" required />
                </ion-col>
                <ion-col>
                    <input type="number" name="inch" [(ngModel)]="inch" required />
                </ion-col>
            </ion-row>
            <ion-select class="selectClass" placeholder="Select Gender" interface="action-sheet"
                (ionChange)="handleGenderChange($event)">
                <ion-select-option *ngFor="let gender of genderOptions" [value]="gender">{{ gender.name
                    }}</ion-select-option>
            </ion-select>
            <button type="submit" (click)="submitDetails()">Next</button>
        </form>
    </div>

    <div class="dialog" *ngIf="showGoals">
        <h2>What's your <span class="mate">Goal</span> ?</h2>
        <form>
            <ion-select class="selectClass" interface="action-sheet" placeholder="Select your Goal"
                (ionChange)="handleGoalChange($event)">
                <ion-select-option *ngFor="let goal of goalsOptions" [value]="goal.value">{{ goal.name
                    }}</ion-select-option>
            </ion-select>
            <button type="submit" (click)="submitGoal()">Next</button>
        </form>
    </div>

    <div class="dialog" *ngIf="showLifeStyle">
        <h2>How's your <span class="mate">life style</span> ?</h2>
        <form>
            <ion-select class="selectClass" interface="action-sheet" placeholder="Select your lifestyle"
                (ionChange)="handleLifeStyleChange($event)">
                <ion-select-option *ngFor="let lifestyle of lifestyleOptions" [value]="lifestyle.value">{{
                    lifestyle.name }}</ion-select-option>
            </ion-select>
            <button type="submit" (click)="submitLifeStyle()">Next</button>
        </form>
    </div>

    <div class="dialog full-width-dialog" *ngIf="showPreferences">
        <div class="calorie-info">
            <h2>Your daily <span class="mate">calories</span> requirement</h2>

            <div class="calorie-section">
                <h3>Daily calories to maintain weight</h3>
                <span class="calorie-value">{{ maintainWeight }}</span>
            </div>

            <div class="calorie-section" *ngIf="selectedGoal === 'lose'">
                <h3>Daily calories to lose weight fast</h3>
                <span class="calorie-value">{{ loseWeightFastCalsRequired }}</span>
            </div>

            <div class="calorie-section" *ngIf="selectedGoal === 'gain'">
                <h3>Daily calories to gain weight fast</h3>
                <span class="calorie-value">{{ gainWeightFastCalsRequired }}</span>
            </div>

            <!-- <div class="calorie-section" *ngIf="selectedGoal === 'lose'">
                  <h3>Your estimated weight loss</h3>
                  <span class="calorie-value">{{ estimatedWeightLoss }}</span>
              </div>
  
              <div class="calorie-section" *ngIf="selectedGoal === 'gain'">
                  <h3>Your estimated weight loss</h3>
                  <span class="calorie-value">{{ estimatedWeightGain }}</span>
              </div> -->
        </div>

        <button type="submit" (click)="submitPreferences()">Next</button>
    </div>

    <div class="dialog full-width-dialog" *ngIf="showWelcomeMessage">
        <h2>Welcome</h2>
        <h2>
            <span class="mate">{{ tabActionService.userInfo.name }}</span>
        </h2>
        <h4>Let's start your fitness journey.</h4>
        <h4>We will take few seconds to calculate your preferences</h4>
        <div class="spinner"></div>
    </div>
</div>