<div class="ion-page" id="main-content">
    <!-- <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>
                <img src="assets/img/weight-mate-logo.png" alt="logo" class="logo-header" />
            </ion-title>
            <ion-buttons slot="end">
                <ion-button> <app-calendar></app-calendar> </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-row>
        <ion-col>
            <app-message-banner></app-message-banner>
        </ion-col>
    </ion-row>
    <ion-content class="ion-padding home">
        <div class="ion-padding" style="padding-top: 0;">
            <app-root-content
                *ngIf="tabActionService.showMainViewScreen && !tabActionService.showSelectFoodScreen"></app-root-content>
            <app-log-food
                *ngIf="tabActionService.showSelectFoodScreen && !tabActionService.showMainViewScreen"></app-log-food>
        </div>
    </ion-content>
    <app-footer></app-footer> -->
    <ion-nav [root]="component"></ion-nav>
</div>