  .chat-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 80vh;
    overflow: auto;
  }
  
  .message-wrapper {
    display: flex;
    margin-bottom: 10px;
    max-width: 80%;
  }
  
  .message-bubble {
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    max-width: 100%;
    word-wrap: break-word;
  }
  
  .sent {
    align-self: flex-end;
  }
  
  .sent .message-bubble {
    background-color: #0078ff;
    color: white;
  }
  
  .received {
    align-self: flex-start;
  }
  
  .received .message-bubble {
    background-color: #f1f1f1;
    color: black;
  }
  
  .first-response {
    font-size: 12px;
    color: #777;
    display: block;
    margin-top: 5px;
  }
  
.profile-items {
    --background: #a8a837 !important;
    --color: #fff !important;
}    

ion-modal {
    --border-radius: 16px !important;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
}

ion-modal::part(backdrop) {
    background: rgba(236, 237, 239, 0.656) !important;
    opacity: 1 !important;
    pointer-events: none;
}

ion-modal ion-toolbar {
    --background: #ff9898;
    --color: white !important;
}

ion-accordion {
    margin: 0.5em auto;
    border-radius: 2em;
  }
  
  ion-accordion.accordion-expanding,
  ion-accordion.accordion-expanded {
    width: calc(100% - 32px);
  
    margin: 16px auto;
  }
  
  ion-accordion.accordion-collapsing ion-item[slot='header'],
  ion-accordion.accordion-collapsed ion-item[slot='header'] {
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
  }
  
  ion-accordion.accordion-expanding ion-item[slot='header'],
  ion-accordion.accordion-expanded ion-item[slot='header'] {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }