<ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
        <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button color="danger" (click)="openFeedbackModal()">
            <ion-icon name="send-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="warning" (click)="openAccountModal()">
            <ion-icon name="person-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<!-- Feedback Modal -->
<ion-modal [isOpen]="isFeedbackModalOpen" [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle">
    <ng-template>
        <ion-content style="--background: linear-gradient(171deg, #ff9898 0%, rgba(255, 255, 255, 1) 100%)">
            <ion-toolbar>
                <ion-title>{{
                    "shareFeedback" | translate
                    }}</ion-title>
                <ion-buttons slot="end">
                    <ion-button color="light" (click)="cancel()">Close</ion-button>
                </ion-buttons>
            </ion-toolbar>
            <div style="padding: 2em;">
                <div class="about-section" style="color: #000; margin-bottom: 0.5em">
                    <p>
                        Help us improve by sharing valuable feedback for this app. Your
                        feedback would let us improve app's overall experience.
                    </p>
                </div>
                <ion-textarea class="textareaClass" style="border: rgba(63, 81, 181, 0.2) solid; height: 10rem;" labelPlacement="floating"
                    [(ngModel)]="feedback.message">
                    <div slot="label">
                        {{ "comment" | translate }}
                        <ion-text color="danger">{{ "required" | translate }}</ion-text>
                    </div>
                </ion-textarea>
                <ion-button id="send-feedback-button" expand="block" color="danger" (click)="sendFeedback()">{{
                    "sendFeedback" |
                    translate }}</ion-button>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>

<!-- Account Modal -->
<ion-modal class="account-modal" [isOpen]="isAccountModalOpen" [initialBreakpoint]="0.75"
    [breakpoints]="[0, 0.25, 0.5, 0.75, 1]" handleBehavior="cycle">
    <ng-template>
        <ion-content style="--background: linear-gradient(171deg, #e3e641 0%, rgba(255, 255, 255, 1) 100%)">
            <ion-toolbar style="--background: #e3e641;">
                <ion-title>{{
                    "account" | translate
                    }}</ion-title>
                <ion-buttons slot="end">
                    <ion-button color="light" (click)="cancel()">Close</ion-button>
                </ion-buttons>
            </ion-toolbar>

            <div style="padding: 1em;">
                <ion-accordion-group>
                    <ion-accordion value="first">
                        <ion-item slot="header" class="profile-items">
                            <ion-icon class="profile-icon" slot="start"
                                name="person-circle-outline"></ion-icon>
                            <ion-label>{{ "profile" | translate }}</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content">
                            <ion-list>
                                <ion-item>
                                    <ion-label>{{ "name" | translate }}</ion-label>
                                    <ion-input value="{{ tabActionService.userInfo.name }}" disabled></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label>{{ "age" | translate }}</ion-label>
                                    <ion-input value="{{ tabActionService.userInfo.age }}" disabled></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label>{{ "height" | translate }}</ion-label>
                                    <ion-input value="{{ tabActionService.userInfo.heightFt }}" disabled></ion-input>
                                    <ion-input value="{{ tabActionService.userInfo.heightInc }}" disabled></ion-input>
                                </ion-item>
                            </ion-list>
                            <div class="ion-padding" slot="content">
                                <!-- <ion-button (click)="presentActionSheet()" expand="block" color="success">Upload Profile
                    Picture</ion-button> -->
                            </div>
                        </div>
                    </ion-accordion>
                    <!-- <ion-accordion value="second">
                        <ion-item slot="header" class="profile-items">
                            <ion-icon class="profile-icon" slot="start"
                                name="settings-outline"></ion-icon>
                            <ion-label>{{ "settings" | translate }}</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content">
                            <ion-list>
                                <ion-item (click)="themeService.switchToLightTheme()">
                                    <ion-label>{{ "lightTheme" | translate }}</ion-label>
                                </ion-item>
                                <ion-item (click)="themeService.switchToDarkTheme()">
                                    <ion-label>{{ "darkTheme" | translate }}</ion-label>
                                </ion-item>
                                <ion-item (click)="themeService.switchToDefaultTheme()">
                                    <ion-label>{{ "defaultTheme" | translate }}</ion-label>
                                </ion-item>
                            </ion-list>
                        </div>
                    </ion-accordion> -->
                    <!-- <ion-accordion value="third">
                        <ion-item slot="header" class="profile-items">
                            <ion-icon class="profile-icon" slot="start"
                                name="globe-outline"></ion-icon>
                            <ion-label>{{ "changeLanguage" | translate }}</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content">
                            <ion-list>
                                <ion-item *ngFor="let language of languageList"
                                    (click)="languageService.changeLanguage(language)">
                                    <ion-label>{{ language.name }}</ion-label>
                                </ion-item>
                            </ion-list>
                        </div>
                    </ion-accordion> -->

                    <ion-accordion value="fivth">
                        <ion-item slot="header" class="profile-items">
                            <ion-icon class="profile-icon" slot="start"
                                name="information-circle-outline"></ion-icon>
                            <ion-label>{{ "about" | translate }}</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content">
                            <div class="about-section">
                                <h2>About WeightMate</h2>
                                <p>
                                    WeightMate is a comprehensive calorie tracker app designed to
                                    help you stay on top of your fitness goals. With WeightMate, you
                                    can easily log your food intake, track your calories, and
                                    monitor your progress.
                                </p>

                                <p>
                                    In addition to calorie tracking, WeightMate offers a variety of
                                    food ideas,making it simple to make informed decisions about
                                    your diet. Whether you're looking to lose weight, maintain a
                                    healthy lifestyle, or simply track your fitness journey,
                                    WeightMate has got you covered.
                                </p>

                                <p>
                                    Start your healthier lifestyle journey today by tracking your
                                    calories.
                                </p>

                                <div class="copyright">
                                    <p>&copy; 2025 Guleria. All rights reserved.</p>
                                    <p>App Dev: Varun Guleria.</p>
                                </div>
                            </div>
                        </div>
                    </ion-accordion>
                    <ion-accordion value="forth">
                        <ion-item slot="header" class="profile-items">
                            <ion-icon class="profile-icon" slot="start"
                                name="log-out-outline"></ion-icon>
                            <ion-label>{{ "logout" | translate }}</ion-label>
                        </ion-item>
                        <div class="ion-padding" slot="content">
                            <ion-label>{{ "logoutMsg" | translate }}</ion-label>
                            <ion-button expand="block" color="danger" (click)="logout()">{{
                                "logout" | translate
                                }}</ion-button>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>