<div class="card">
  <div class="card-header">
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  </div>

  <div class="food-list" *ngIf="showResults">
    <ion-list style="padding-bottom: 0;">
      <ion-item *ngFor="let food of results">
        <ion-label style="margin: 0; white-space: inherit;">
          <h3 style="margin: 0;">{{food.name}} <span *ngIf="food.count > 0">({{food.count}})</span></h3>
          <p>Calories: {{ food.calories }}, Fats: {{ food.fat }}g, Carbs:
            {{ food.carbohydrates }}g, Protein: {{ food.protein }}g, Serving:
            {{ food.serving }}</p>
        </ion-label>
        <ion-icon (click)="addFood(food)" color="tertiary" slot="end" style="color: black;"
          name="add-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</div>

<ion-modal [isOpen]="isAddServingModalOpen" trigger="open-feedback-modal"
  [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle">
  <ng-template>
    <ion-header>
      <ion-toolbar class="custom-toolbar">
        <ion-buttons slot="start">
          <ion-button class="cancel-button" (click)="cancel()">
            <ion-icon class="cancel-button" (click)="cancel()" slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="modal-title">Add Serving</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding profile-content">
      <ion-grid style="color: white;">
        <ion-row>
          <ion-col>
            <ion-select (ionChange)="handleServingSizeChange($event)">
              <ion-select-option *ngFor="let servingSize of servingSizes" [value]="servingSize">{{servingSize}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col >
            <ion-select (ionChange)="handleServingSizeBelowChange($event)">
              <ion-select-option *ngFor="let serving of servingSizeBelow1" [value]="serving">{{serving}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
              {{currentSelectedFood.serving}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="block" color="success">{{ "add" |
        translate }}</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>