<ion-header>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title style="font-weight: bold;">Homemade Recepies</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-header>
  
  <ion-content class="ion-padding"
    style="--background: linear-gradient(171deg, rgb(170 170 229) 0%, rgba(255, 255, 255, 1) 100%);">
    <ion-grid>
        <ion-row>
          <img class="img-class" src="assets/img/ytVarun.jpg">
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card *ngFor="let recipe of recipiesList" [style.background]="recipe.background">
              <ion-card-header>
                <ion-card-title>{{ recipe.name }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>{{ recipe.description }}</p>
                <div class="video-container">
                  <iframe [src]="recipe.url | safeUrl" allowfullscreen></iframe>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>