:host {
    // body {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     height: 100vh;
    // }

    .swiper-container-date {
        font-family: 'Metropolis-Regular', "Segoe UI", Helvetica Neue, Helvetica, sans-serif !important;
    }

    .swiper-btn {
        cursor: pointer;
        font-size: 20px;
        padding: 5px;
        margin: 0 10px;
        border-radius: 50%;
        transition: background-color 0.3s, color 0.3s;
    }

    .swiper-btn:hover {
        background-color: #e2e8f0;
    }

    .date-display {
        text-align: center;
        flex-grow: 1;
    }

    .date-display h2 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .date-display p {
        font-size: 13px;
        color: #9ca3af;
    }
}