<div class="nutrition-card" (click)="cardFlipped()">
  <div class="card" [style.background]="getGradient()" [class.is-flipped]="isFlipped">
    <div class="card-front">
      <div class="content">
        <h2 class="label">{{ label }}</h2>
        <div class="consumed">
          <span>{{ consumed }}</span>
        </div>
        <div class="remaining">{{ 'details' | translate }}</div>
      </div>
      <canvas id="{{ chartId }}" class="chart"></canvas>
    </div>
    <div class="card-back">
      <div class="content">
        <h2 class="back-label">{{ 'recommended' | translate }}</h2>
        <div class="back-consumed" *ngIf="tabActionService?.userInfo && tabActionService?.userInfo?.macros?.fats">
          <span *ngIf="label === 'Fat'">{{ tabActionService?.userInfo?.macros?.fats?.grams | number }}g</span>
          <span *ngIf="label === 'Carbs'">{{ tabActionService?.userInfo?.macros?.carbs?.grams | number}}g</span>
          <span *ngIf="label === 'Protein'">{{ tabActionService?.userInfo?.macros?.protein?.grams | number}}g</span>
        </div>
        <div class="back-consumed" *ngIf="label === 'Water'">
          <span *ngIf="label === 'Water'">8L</span>
          <div class="disableClass" style="display: flex; margin: 0.5em;">
            <ion-button size="small" color="success" (click)="adjustWater($event, true)">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger" (click)="adjustWater($event, false)">
              <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>