<ion-content>
  <!-- Warning Panel -->
  <ion-row class="red" style="text-align: center;"
    *ngIf="tabActionService.totalCalories > tabActionService.maintainWeight">
    <ion-col>Exceeded calorie limit by {{tabActionService.totalCalories - tabActionService.maintainWeight}}kcal. Eat
      wisely!</ion-col>
  </ion-row>

  <!-- Calories Panel -->
  <ion-row>
    <ion-col>
      <div class="main-card calories-card">
        <div class="card-title">
          <span>
            {{ "calories" | translate }}
          </span>
        </div>
        <div class="calories-info count-card">
          <div>
            <p class="value streak-label" [class.red]="
                tabActionService.totalCalories > tabActionService.maintainWeight
              " [class.green]="
                tabActionService.totalCalories < tabActionService.maintainWeight
              ">
              {{ tabActionService.totalCalories }}
            </p>
            kcal
          </div>
        </div>
        <div>
          <p class="value" style="color: rgb(221, 65, 96)">
            {{ tabActionService.getRemainingCalories() }} left
          </p>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div class="main-card nutrition-card">
        <div class="card-title">
          <span>
            {{ "weight" | translate }}
          </span>
        </div>
        <div class="calories-info count-card">
          <div>
            <p class="value streak-label green">
              {{ tabActionService.userInfo.weight }}
            </p>
            kg
          </div>
        </div>
        <div>
          <ion-button class="disableClass" size="small" style="font-size: 9px;" fill="clear" id="openWeightModal"> Click
            +
            to record weight</ion-button>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- Macros Panel -->
  <ion-row>
    <div class="main-card">
      <div class="card-title">
        <span>
          {{ "micronutrients" | translate }}
        </span>
      </div>
      <div class="calories-info">
        <div class="card-container" *ngIf="fatLabel">
          <app-nutrition-card label="Fat" consumed="{{ tabActionService.totalFat }}g" remaining="30g" chartId="fatChart"
            [colors]="{ from: '#ff9ead', to: '#ab4854' }"></app-nutrition-card>
          <app-nutrition-card label="Protein" consumed="{{ tabActionService.totalProtein }}g" remaining="20g"
            chartId="proteinChart" [colors]="{ from: '#caacd6', to: '#8a5aae' }"></app-nutrition-card>
        </div>
        <div class="card-container">
          <app-nutrition-card label="Carbs" consumed="{{ tabActionService.totalCarbs }}g" remaining="80g"
            chartId="carbsChart" [colors]="{ from: '#769dca', to: '#4d75b7' }"></app-nutrition-card>
          <app-nutrition-card label="Water" [consumed]="waterConsumed.toString()" remaining="1L" chartId="waterChart"
            [waterConsumed]="waterConsumed" [colors]="{ from: '#e0b7a4', to: '#a16145' }"></app-nutrition-card>
        </div>
      </div>
    </div>
  </ion-row>

  <!-- Insight Panel -->
  <ion-row>
    <ion-col>
      <div class="main-card overall-card">
        <div class="card-title">
          <span>
            {{ "insight" | translate }}
          </span>
        </div>
        <div class="calories-info">
          <div style="height: 10em; width: 20em">
            <canvas id="insight" class="chart"></canvas>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- Strek and Quick Tips Panel -->
  <ion-row>
    <ion-col>
      <div class="main-card nutrition-card">
        <div class="card-title">
          <span>
            {{ "streak" | translate }}
          </span>
        </div>
        <div class="calories-info count-card">
          <div>
            <p class="value streak-label">{{ streak }}</p>
            <p class="cal-label">{{ "days" | translate }}</p>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div class="main-card nutrition-card">
        <div class="card-title">
          <span>
            {{ "quickTips" | translate }}
          </span>
        </div>
        <!-- <ion-icon class="card-icon" name="bulb-outline"></ion-icon> -->
        <img class="card-icon" src="assets/img/idea.svg" />
        <div class="overall-info mate count-card">
          {{ ideaOfTheDay }}
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="margin-bottom: 1.5em">
    <ion-col>
      <div class="main-card overall-card">
        <div class="card-title">
          <span>
            {{ "progress" | translate }}
          </span>
        </div>
        <div class="calories-info">
          <div style="height: 10em; width: 20em">
            <canvas id="progress" class="chart"></canvas>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>